[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-crispy-forms = "*"
django-cleanup = "*"
crispy-bootstrap4 = "*"
django-taggit = "*"
pillow = "*"
mysqlclient = "==2.1.1"
cloudinary = "*"
django-cloudinary-storage = "*"
whitenoise = "*"
gunicorn = "*"
django-environ = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
