{% extends "core/header.html" %}

{% block content %}
<div class="container py-5">
    <div class="jumbotron" style="height: 400px;">
        <h1>Article's title: {{ article.title }}</h1>
        <form action="{% url 'public:article-detail' article.id %}">
            <button class="btn btn-primary" type="submit">Read</button>
        </form>
        <img src="{{ article.image.url }}" alt="Article Image" class="img-thumbnail" style="width: 15%; float: right;">
        <p><strong>Published on:</strong> <mark>{{ article.pub_date.date }}</mark></p>
        <p><strong>Times read:</strong> <mark>{{ article.times_read }}</mark></p>
        <p><strong>Tags:</strong>
            {% for tag in article.tags.all %}
            <a href="{% url 'public:articles-tag' tag.slug %}">#{{ tag }}</a>
            {% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
        <a href="{% url 'personal:update-article-detail' article.id %}">Update this article</a>
        <form action="{% url 'personal:delete-article' article.id%}" method="post">
            {% csrf_token %}
            <button class="btn btn-danger">Delete article</button>
        </form>
    </div>
    <div class="container py-3 my-3 bg-primary text-white">
        <h3>Content:</h3>
        <p class="text-break">{{ article.content }}</p>
    </div>
</div>
{% endblock %}