{% extends "core/header.html" %}

{% block content %}
<div class="container py-5">
    <h1>Number of articles you disliked: <mark>{{ reaction_objects|length }}</mark></h1>
    <form action="{% url 'personal:clear-dislikes' %}" method="post">
        {% csrf_token %}
        <button class="btn btn-danger" type="submit">Clear all your dislikes</button>
    </form>
    {% if reaction_objects %}
    <div class="container p-3 my-3 border">
        {% for ro in reaction_objects %}
        <form action="{% url 'personal:delete-dislike' ro.id %}" method="post" class="form-inline">
            <p class="mr-sm-2">
                -- You disliked article
                <a href="{% url 'public:article-detail' ro.article.id%}">{{ro.article.title}}</a>
                on <mark>{{ro.reaction_date.date }}</mark> |
            </p>
            {% csrf_token %}
            <button class="btn btn-danger btn-sm mb-2" type="submit">Delete dislike</button>
        </form> <br>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}