{% extends "core/header.html" %}

{% block content %}
<div class="container py-5">
    <div class="jumbotron" style="height: 360px;">
        <h1>This is your personal page, {{ user }}</h1>
        {% if not user.user_image %}
        {% load static %}
        <img src="{% static 'users/profile_pic.jpg' %}" alt="User's profile image" style="width: 15%; float: right;"
            class="rounded-circle">
        {% else %}
        <img src="{{ user.user_image.url }}" alt="User's Profile Image" class="rounded-circle"
            style="width: 15%; float: right;">
        {% endif %}
        <div class="container py-5">
            <h2>Number of your subscribers: <mark> {{ subscribers }} </mark></h2>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="btn-group-vertical">
                    <a href="{% url 'personal:about-page' %}" class="btn btn-primary">Your about page</a>
                    <a href="{% url 'personal:articles-list' %}" class="btn btn-primary">Your articles</a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="btn-group-vertical">
                    <a href="{% url 'personal:subscriptions-list' %}" class="btn btn-primary">Your subscriptions</a>
                    <a href="{% url 'personal:favorite-articles' %}" class="btn btn-primary">Your favorite articles</a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="btn-group-vertical">
                    <a href="{% url 'personal:reading-history' %}" class="btn btn-primary">Your reading history</a>
                    <a href="{% url 'personal:liked-articles' %}" class="btn btn-primary">Articles you liked</a>
                    <a href="{% url 'personal:disliked-articles' %}" class="btn btn-primary">Articles you disliked</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}