{% extends "core/header.html" %}

{% block content %}
<div class="container py-5">
    <div class="container py-5">
        <h1>Number of articles published by
            <a href="{% url 'public:author-page' author.id %}">{{ author }}</a>:
            <mark>{{articles|length }}</mark>
        </h1>
    </div>
    <div class="card-columns">
        {% for article in articles %}
        <div class="card" style="width: 300px;">
            <img class="card-img-top img-thumbnail" src="{{ article.image.url }}" alt="Article's image">
            <div class="card-body">
                <h4>Title: {{ article.title }}</h4>
                <p class="card-text">
                    <strong>Tags:</strong>
                    {% for tag in article.tags.all %}
                    <a href="{% url 'public:articles-tag' tag.slug %}">#{{ tag }}</a>
                    {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
                <p class="card-text"><strong>Published on:</strong> {{ article.pub_date.date }}</p>
                <p class="card-text"><strong>Times read:</strong> {{ article.times_read }}</p>
                <a href="{% url 'public:article-detail' article.id %}" class="btn btn-primary">Read</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}