{% extends "core/header.html" %}

{% block content %}
<div class="container py-5">
    <div class="jumbotron" style="height: 360px;">
        <h1>This is public page of {{ author }}</h1>
        {% if not author.user_image %}
        {% load static %}
        <img src="{% static 'users/profile_pic.jpg' %}" alt="Author's profile image" style="width: 15%; float: right;"
            class="rounded-circle">
        {% else %}
        <img src="{{ author.user_image.url }}" alt="Author's Profile Image" class="rounded-circle"
            style="width: 15%; float: right;">
        {% endif %}
        <div class="container py-5">
            <h2>Number of subscribers: <mark>{{ subscribers }}</mark></h2>
        </div>
        <form action="{% url 'public:subscription-through-author' author.id %}" method="post">
            {% csrf_token %}
            <button class="btn btn-primary btn-lg" type="submit">{{ subscription_status }}</button>
        </form>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <a href="{% url 'public:articles-by-author' author.id %}" class="btn btn-primary">
                    Articles published by this author</a>
            </div>
            <div class="col-sm-4">
                <a href="{% url 'public:about-page' author.id %}" class="btn btn-primary">Author's about page</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}