{% extends 'core/header.html' %}

{% block content %}
<div class="container py-5">
    <div class="container py-5">
        <h1>Number of comments left on <a href="{% url 'public:article-detail' article.id%}">article</a>:
            <mark>{{ comments|length }}</mark>
        </h1>
        <a href="{% url 'public:comment-article' article.id%}">Publish new comment</a>
    </div>
    <div class="container py-5">
        {% for comment in comments %}
        <div class="container p-3 my-3 border">
            {% if not comment.user.user_image %}
            {% load static %}
            <a href="{% url 'public:author-page' comment.user.id %}">
                <img src="{% static 'users/profile_pic.jpg' %}" alt="User's image"
                    style="width: 5%; float: left; margin-right: 10px;" class="rounded-circle">
            </a>
            {% else %}
            <a href="{% url 'public:author-page' comment.user.id %}">
                <img src="{{ comment.user.user_image.url}}" alt="User's image"
                    style="width: 5%; float: left; margin-right: 10px;" class="rounded-circle">
            </a>
            {% endif %}
            <h3>
                <a href="{% url 'public:author-page' comment.user.id %}">{{ comment.user }}</a>
            </h3>
            <div class="container py-5">
                <p class="font-weight-bold text-break">{{ comment.content }}</p>
            </div>
            {% if comment.pub_date == comment.update_date %}
            <p class="text-info">Published on {{ comment.pub_date.date }}</p>
            {% else %}
            <p class="text-info">Published on {{ comment.pub_date.date }}</p>
            <p class="text-info">Updated on {{ comment.update_date.date }}</p>
            {% endif %}
            {% if user == comment.user %}
            <a href="{% url 'public:update-comment' comment.id %}">Update your comment</a>
            <form action="{%  url 'public:delete-comment' comment.id%}" method="post">
                {% csrf_token %}
                <button class="btn btn-danger">Delete your comment</button>
            </form>
            {% endif %}
            {% if comment.user == article.author %}
            <p class="text-primary">Comment was published by author of the article</p>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}